Language: C
BasedOnStyle: LLVM

PointerAlignment: Left
ColumnLimit: 50

AlignArrayOfStructures: Left
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveBitFields: Consecutive
AlignConsecutiveDeclarations: Consecutive
AlignConsecutiveMacros: Consecutive
AlignOperands: Align
AlignTrailingComments:
  Kind: Always

UseTab: Always
IndentWidth: 2
TabWidth: 2

BreakAfterReturnType: AllDefinitions
AllowShortFunctionsOnASingleLine: None
AllowShortBlocksOnASingleLine: true
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: true

BreakBeforeBraces: Attach
BreakAfterOpenBracketBracedList: false
BreakAfterOpenBracketFunction: false
BreakAfterOpenBracketIf: false
BreakAfterOpenBracketLoop: false
BreakAfterOpenBracketSwitch: false
BreakBeforeCloseBracketBracedList: false
BreakBeforeCloseBracketFunction: false
BreakBeforeCloseBracketIf: false
BreakBeforeCloseBracketLoop: false
BreakBeforeCloseBracketSwitch: false
